<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Quên Mật Khẩu</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Forget Password</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Blog Area =================-->
<section class="blog_area single-post-area py-80px section-margin--small">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-lg-8 posts-list">
                <div class="single-post d-flex justify-content-center">
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>Đổi mật khẩu</h2>
                        <div class="comment-form">
                            <form action="/reset-password?_method=PATCH" method="POST">
                                <input id="email" name="email" hidden>
                                <input id="curr_time" name="curr_time" hidden>
                                <div class="form-group">
                                    <label style="display: flex">Mật khẩu mới</label>
                                    <input type="password" required class="form-control" name="new_password"
                                           id="new_password" placeholder="Mật khẩu mới"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Nhập mật khẩu mới'">
                                </div>
                                <div class="form-group">
                                    <label style="display: flex">Nhập lại mật khẩu mới</label>
                                    <input type="password" required class="form-control" name="confirm_password"
                                           id="confirm_password"
                                           placeholder="Xác nhận mật khẩu mới"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Nhập lại mật khẩu mới'">
                                </div>
                                {{#if message}}
                                    <div style="color: red">{{message}}</div>
                                {{/if}}
                                <input style="margin-top: 20px" type="submit" value="Đổi mật khẩu"
                                       class="button button-postComment button--active"
                                       id="submit-button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
<script>
    const queryParam = new URLSearchParams(window.location.search);
    const email = queryParam.get('email');
    const curr_time = queryParam.get("curr_time");

    document.getElementById("email").value = email;
    document.getElementById("curr_time").value = curr_time;
</script>